/* style of footer */

.footer-nav {
  text-align: center;
}

.footer .footer-geolocation {
  color: $primary-white-color;
  background-color: #2f303a;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-text {
  color: rgb(255 255 255/ 0.6);
  background-color: #2f303a;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.page-footer {
  background-color: #2f303a;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}
.container .footer {
  padding: 60px 0;
}

.subscribe-form {
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.subscribe-title {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;

  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-top: 0;
  }
}

.subscribe-field {
  display: block;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  margin-bottom: 12px;
}

.subscribe-field input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  border-radius: 4px;

  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-bottom: 63px;

  align-items: center;
  text-align: center;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;

  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  padding-left: 29px;
  color: #ffffff;
  text-align: left;
}

.subscribe-btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 25px;
  margin-left: 10px;
  margin-top: 3px;

  background: url(../images/icon\ send.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-wrapper.container {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.footer-nav {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-left: 76px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-geolocation {
    color: $primary-white-color;
    background-color: #2f303a;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  .footer-text {
    color: rgb(255 255 255/ 0.6);
    background-color: #2f303a;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .page-footer {
    background-color: #2f303a;
  }
  .logo-footer {
    display: inline-block;
    margin-bottom: 20px;
  }
  .container .footer {
    padding: 60px 0;
  }

  /* social media links */

  .social {
    display: flex;
    justify-content: center;
  }

  .social-item {
    display: flex;
    padding: 0;
    border: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 20px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-icon {
    fill: $secondary-accent-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-item:hover {
    background-color: $accent-color;
  }

  .social-item:hover .social-icon {
    fill: $primary-white-color;
  }

  .social-footer h3 {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }

  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .footer-nav {
    margin-right: 70px;
  }

  .social-footer .social-item:nth-child(1) {
    margin-left: 0;
  }

  .social-footer .social-item {
    background-color: rgb(255 255 255 / 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-footer .social-item:hover {
    background-color: $accent-color;
  }

  .subscribe-form {
    margin-left: 93px;
  }

  .subscribe-title {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }

  .subscribe-field {
    display: inline-block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-right: 12px;
  }

  .subscribe-field input {
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    border-radius: 4px;

    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  .subscribe-btn {
    display: inline-block;
    width: 200px;
    height: 50px;

    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;

    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    padding-left: 29px;
    color: #ffffff;
    text-align: left;
  }

  .subscribe-btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 25px;
    margin-left: 10px;
    margin-top: 3px;

    background: url(../images/icon\ send.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
