.header-container {
}

.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
}

.cont-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  flex-wrap: wrap;
  margin-left: 85px;
}

.cont-nav-item {
  height: 20px;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.02em;

  color: #757575;
}

.page-header {
  display: flex;
  align-items: center;
  height: 60px;

  @media screen and (min-width: 768px) {
    height: 80px;
  }

  // border-bottom: 1px solid #ececec;
}

.head-wrapper {
  display: flex;
  height: 80px;

  align-items: center;
  justify-items: left;

  @media screen and (min-width: 768) {
    justify-content: space-between;
    justify-items: auto;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
//

.main-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;
    height: 100%;
  }
}

.site-nav .item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.site-nav .link {
  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 31px;
    padding-bottom: 31px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.site-nav .link.current {
  @media screen and (min-width: 768px) {
    color: $accent-color;
  }
}

.site-nav .link:hover,
.site-nav .link:focus {
  @media screen and (min-width: 768px) {
    color: $accent-color;
  }
}

.site-nav-item {
  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.site-nav-item::after {
  @media screen and (min-width: 768px) {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}

.main-nav {
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
  }
}
