.header-container {
  @media screen and (max-width: 479px) {
    position: relative;
  }
}

.menu-button {
  @media screen and (max-width: 767px) {
    display: inline-block;
    position: absolute;
    right: 5px;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 100;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
}

.cont-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  flex-wrap: wrap;
  margin-left: 85px;
}

.cont-nav-item {
  height: 20px;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.02em;

  color: #757575;
}

.page-header {
  display: flex;
  align-items: center;
  height: 60px;

  @media screen and (min-width: 768px) {
    height: 80px;
  }

  // border-bottom: 1px solid #ececec;
}

.head-wrapper {
  display: flex;
  height: 80px;

  align-items: center;
  justify-items: left;

  @media screen and (min-width: 768) {
    justify-content: space-between;
    justify-items: auto;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
//

.main-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;
    height: 100%;
  }
}

.site-nav .item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.site-nav .link {
  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 31px;
    padding-bottom: 31px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.site-nav .link.current {
  @media screen and (min-width: 768px) {
    color: $accent-color;
  }
}

.site-nav .link:hover,
.site-nav .link:focus {
  @media screen and (min-width: 768px) {
    color: $accent-color;
  }
}

.site-nav-item {
  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.site-nav-item::after {
  @media screen and (min-width: 768px) {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}

.main-nav {
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    margin-left: 93px;
  }

  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }

  .site-nav .link {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .site-nav .link.current {
    color: $accent-color;
  }

  .site-nav .link:hover,
  .site-nav .link:focus {
    color: $accent-color;
  }

  .site-nav-item {
    position: relative;
  }

  .site-nav-item::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -11.5px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }

  .main-nav {
    display: flex;
    align-items: center;
  }

  .cont-nav {
    display: flex;
    margin-left: auto;
  }

  .head-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-header {
    border-bottom: 1px solid #ececec;
  }
  /* cont nav */

  .cont-nav-item {
    margin-right: 30px;
    display: flex;
    padding: 0;
    align-items: center;
    vertical-align: middle;
    justify-content: right;
  }

  .mail-icon {
    width: 16px;
    height: 12px;
    display: inline-block;
    padding: 0;
    margin-right: 10px;

    fill: $primary-text-color;
  }

  .smartphone-icon {
    width: 10px;
    height: 16px;
    display: inline-block;
    padding: 0;
    margin-right: 10px;

    fill: $primary-text-color;
  }

  .cont-nav .item:not(:last-child) {
    margin-right: 50px;
  }

  .cont-nav .link {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .cont-nav .link:hover,
  .cont-nav .link:focus {
    color: $accent-color;
  }

  .cont-nav-item :hover {
    fill: $accent-color;
    color: $accent-color;
  }
}

.menu-container {
  height: 100vh;

  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
  }
}

.site-navigation {
  width: 50px;
  height: 50px;
  background-color: red;
}

.site-contacts {
  width: 50px;
  height: 50px;
  background-color: blue;
}
